$font-mont: 'Montserrat', sans-serif;
$font-bubble: 'Bubbler One', sans-serif;
$font-titillium: 'Titillium Web', sans-serif;
$font-cabin: 'Cabin', sans-serif;
$box-bg: rgba(0,0,0,0.7);
$button-bg: rgba(0,0,0,0.9);
$bg-transparent-white: rgba(236, 236, 236, 0.9);
